/* Editings to bootstrap navbar */

/* Margins and background color for whole nav */
.navbar.navbar-expand-lg {
    padding: 1.5rem 0;
    background-color: rgba(49, 49, 49, 0.75);
    border-color: white;
    border-bottom: 1px solid white;
    box-shadow: 0 0 10px 2px #909090;
    min-height: 8vh;
}

.navbar>.container-fluid {
    margin: 0 2rem;
}


/* Changing font from navbar */
.navbar-dark .navbar-text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white !important;
    margin-left: 10px;
}

.navbar-dark .navbar-nav .nav-link {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white !important;
}

@media only screen and (max-width: 990px) {
    .navbar-dark .navbar-nav .nav-link {
        font-size: 1.75rem !important;
    }
}

@media only screen and (max-width: 767px) {
    .navbar-dark .navbar-nav .nav-link {
        font-size: 1.75rem !important;
    }
}

/* Changes to the genre dropdown only on collapsed navbar */
.navbar-collapse.collapse.show .dropdown-menu.custom {
    background-color: transparent;
    padding: .25rem 0rem;

    .dropdown-item {
        color: white;
        font-size: smaller;
        padding: 0.5rem 2rem;
    }

    a:hover {
        background-color: transparent;
    }

    li:first-child {
        border-top: 1px solid white;
    }

    & li:not(:last-child) {
        border-color: white;
        border-bottom: 1px solid white;
    }
}

@media only screen and (max-width: 993px) {
    .navbar-collapse.collapse.show .dropdown-menu.custom {
        background-color: transparent;
        padding: .25rem 0rem;

        .dropdown-item {
            color: white;
            font-size: 1.5rem;
            padding: 0.5rem 2rem;
        }

        a:hover {
            background-color: transparent;
        }

        li:first-child {
            border-top: 2px solid white;
        }

        & li:not(:last-child) {
            border-color: white;
            border-bottom: 2px solid white;
        }
    }
}

/* Both of these change the animation */
div>.navbar-collapse.collapse.show {

    .nav-item {
        border-color: white;
        border-bottom: 2px solid white;
    }

    form {
        margin-top: 20px;
    }
}



div>.navbar-collapse.collapsing {

    .nav-item {
        border-color: white;
        border-bottom: 2px solid white;
    }

    form {
        margin-top: 20px;
    }
}


@media only screen and (max-width: 993px) {
    div>.navbar-collapse.collapse.show {

        .nav-item {
            border-color: white;
            border-bottom: 4px solid white;
        }

        form {
            margin-top: 20px;
        }
    }



    div>.navbar-collapse.collapsing {

        .nav-item {
            border-color: white;
            border-bottom: 4px solid white;
        }

        form {
            margin-top: 20px;
        }
    }
}

/* Changing the button */
.navbar-toggler {
    border-color: white !important;
}

.info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px 0;
}

.info-wrapper {
    max-width: 800px;
}

.info-content {
    background-color: rgba(0, 0, 0, 0.75);
}