body {
    background-image: url(images/Mobile-1.jpg);
    background-size: contain;
    background-attachment: fixed;
    background-position: center center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
    color: white !important;
}

@media only screen and (min-width:767px) {
    body {
        background-image: url(images/Tablet-1.jpg);
    }
}

@media only screen and (min-width: 1024px) {
    body {
        background-image: url(images/Desktop-1.jpg);
    }
}

.spacer-block {
    height: 150px;
}

/* For desktop is good, have to change for mobile */
.titles-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 200px));
    column-gap: 30px;
    row-gap: 30px;
    justify-content: center;
    width: 80vw;
    margin: 50px;

    & img {
        height: auto;

        max-width: 100%;

        border-color: white;
        border: 2px solid;
    }

    & img:hover {
        box-shadow: 0 0 10px 2px #909090;
    }

    @media only screen and (max-width: 993px) {
        margin: 20px;
        width: 90vw;
    }
}

.movie-wrapper {
    max-width: 200px;

}

.page-title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;

    & span {
        font-size: 50px;
    }
}

.movie-wrapper .movie-wrapper__anchor {
    color: white;
    text-decoration-color: white;
}

.movie-wrapper .movie-wrapper__anchor .movie-wrapper__anchor__text {
    margin-top: 5px;
}

.pagination-nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Single title container */
.info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;

    .info-wrapper {
        max-width: 80vw;
        background-color: rgba(49, 49, 49, 0.75);
        padding: 5vw;
        border-radius: 16px;
    }

    @media only screen and (min-width: 1500px) {
        .info-wrapper {
            max-width: 60vw;
            padding: 3vw;
        }
    }

    .info-header {
        display: flex;
        flex-direction: row;
        gap: 2vw;

        img {
            max-width: 15vw;
            border: 2px solid;
            border-color: white;
            box-shadow: 0 0 10px 2px #909090;
            margin-right: 20px;
            border-radius: 12px;
        }

        @media only screen and (max-width: 991px) {
            flex-direction: column;
            gap: 16px;
            padding-top: 2vh;

            img {
                max-width: 40vw;
                align-self: center;
                margin-right: 0px;
            }
        }

        @media only screen and (max-width: 767px) {

            img {
                max-width: 60vw;

            }
        }

        .info-header__image {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-direction: column;
            gap: 12px;

            .info-header__image__tagline {
                font-size: 0.9rem;
                font-style: italic;
                text-align: center;
            }
        }

        .info-header__content {
            display: flex;
            flex-direction: column;
            gap: 2vh;

            .info-header__title {
                font-size: 3rem;
                line-height: 1;
                font-weight: 900;
            }

            @media only screen and (max-width: 991px) {
                .info-header__title {
                    font-size: 2.5rem;

                }
            }

            @media only screen and (max-width: 767px) {
                .info-header__title {
                    font-size: 2rem;

                }
            }

            .info-header__content__metadata {
                display: flex;
                flex-direction: row;
                gap: 0.5em;

                span {
                    font-weight: 600;
                }

                .info-header__content__metadata__certification {
                    border-left: 1.5px solid #fff;
                    padding-left: 6px;
                }

                .info-header__content__metadata__runtime {
                    border-left: 1.5px solid #fff;
                    padding-left: 6px;
                }
            }

            .info-header__main_info {
                font-size: 1.5rem;
                display: flex;
                flex-direction: column;
                font-weight: 600;
            }

            .info-overview {
               font-weight: 500; 
            }

            .info-extra {
                font-size: 0.85rem;
                display: flex;
                flex-direction: column;
                gap: 0.5vh;
            }

            .info-header__genres {

                a {
                    color: white;
                }

                a:hover {
                    color: grey;
                }
            }
        }
    }
}


.site-footer {
    div {
        margin-top: 2vh;
        background-color: rgba(49, 49, 49, 0.75);
        width: 100%;
        border-color: white;
        box-shadow: 0 0 10px 2px #909090;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        min-height: 6vh;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;

        & a {
            font-weight: 900;
            letter-spacing: 1px;
            color: white;
            text-decoration: none;
        }
    }
}

.random-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 25px 0px;

    button {
        width: 40vw;

        & a {
            color:white;
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.4rem;
        }


    }
}


@media only screen and (max-width: 602px) {
    .random-button button {
        width: 70vw;
    }
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

