{% extends "nick/layout.html" %}

{% block body %}


<div class="info-container">
    <div class="info-wrapper">
        <div class="info-header">
            <div class="info-header__image">
            <img src="{{ movie.poster_path }}">
        </div>
            <div class="info-header__content">
            <span class="info-header__title">{{ movie.title }}</span>
            <span class="info-header__tagline">{{ movie.tagline }}</span>
            <span class="info-header__genres">{% for genre in movie.genre.all %}<a href="{% url 'get_movies_by_genre' genre|lower %}">{% if forloop.last %} {{ genre }} {% else %} {{ genre }},
                {%endif%}</a>{% endfor %}</span>
            <span>Nicolas Cage as: {{ movie.character }}</span>
            <span>Released: {{ movie.release_date }}</span>
            <span>Runtime: {{ movie.runtime }}</span>
            <div class="info-overview">
                <span>Overview: {{ movie.overview }}</span>
            </div>
            <div class="info-metadata">
                <span>Runtime: {{ movie.runtime }}</span>
                <span>Certification: {{ movie.certification }}</span>
                <span>Director: {{ movie.director.first }}</span>
                <span>Budget: {{ movie.budget }}</span>
                <span>Revenue: {{ movie.revenue }}</span>       
            </div>
            <div class="info-cast">
                <span>Cast: {{ movie.cast_members }}</span>
            </div>
        </div>
        </div>
    </div>
</div>



{% endblock %}